.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh; // (header height 95vh) - (clip-path 75vh) = 20vh.
}

.section-features {
    padding: 20rem 0;
    background-image:  linear-gradient(
        to right bottom,
        rgba($color-primary-light, .70), // This definition method only works with Sass.
        rgba($color-primary-dark, .70)), 
        url(../img/nat-4.jpg);
    background-size: cover;

    /* Section skew */
    transform: skewY(-7deg);
    margin-top: -12rem;

    & > * { // Selecting all the direct children of .section-feature (e.g. the row with the white boxes, excluding the boxes themselves and text (that are children of the boxes)).
        transform: skewY(7deg);
    }
}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -12rem;
}

.section-stories {
    position: relative;
    padding: 15rem 0;
    /*background-color: $color-grey-light-1;*/
}